//style Général
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F6F6F6;
    --sec-bg-color: white;
} 

header{
    background-color: var(--sec-bg-color);
    padding: 14px 89px 13px 89px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    @media (min-width: 1044px) {
        // gap: 572px;
        height: 96px;
        padding: 30px 0px 31.798px 0px;
        align-self: stretch;
    }
    
    & img{
        height: 30px;
        padding: 0px 19px 0px 16px;

        @media (min-width: 1044px) {
            height: 34.2px;
        }
    }

    & i{
        font-size: 20px;
        color:rgb(0, 0, 0);
    }
}

body{
    background-color:var(--main-bg-color);
    margin:0px;
}

h1{
    color: var(--Black, #101010);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin: 0;

    @media (min-width: 1044px) {
        font-size: 40 px;
    }
}

h2{
    color: #000;
    margin-bottom: 0px;
    margin-top: 0px;
    // font-style: normal;
    // line-height: normal;
}

h3{
    margin: 0px;
    font-size: 18px;
    width: 100%;
}

img{
    object-fit: cover;
}

// Bouton Violet (explorer et commander)
.bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 218px ;
    border-radius: 25px;
    background: var(--Button-Gradient, linear-gradient(#FF79DA,  #9356DC));
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition-property: opacity, box-shadow;
    transition-duration: 1s;
    
    &:hover {
        opacity: 80%;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    }
    
    & span{
        color: var(--White, #FFF);
        font-size: 16px;
        text-align: center;
        min-width: 315px;
        padding:13px 18.75px;
    }
}

//Animation coeur Gradient
.coeurgradient{
    opacity: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: opacity 1s;

    &:active{
        opacity: 1;
    }
}

//Footer
footer{
    display: flex;
    flex-direction: column;
    gap:16px;
    width: 100%;
    background-color: #353535;
    color: white;
    padding: 22px 25px;
    
    @media (min-width: 1044px) {
        flex-direction: row-reverse;
        justify-content:right;
        padding:25px 30px;
    }

    & h3{
        font-family: 'Shrikhand' , serif;
        margin: 0px;
        width: 137.582px;
        height: 27px;
        flex-shrink: 0;
    }
   
    & p{
        font-size: 15px;
        margin: 0px;
        width: 130px;
    }
   

    & .liensFooter{
        display: flex;
        flex-direction: column;
        gap:7px;

        @media (min-width: 1044px) {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap:7px;
        }

        & i{
            width: 13px;
            height: 13px;
            font-size: 13px;

            @media (min-width: 1044px) {
                width: 15px;
                height: 16px;
                font-size: 13px;
            }
        }

        & a{
            font-size: 15px;
            margin: 0px;
            color: white;
            text-decoration: none;
            width: 130px;
        }

        & .Footer-texte-icone{
            display: flex;
            flex-direction: row;
            gap:11px;
            text-align: center;
            width: 100%;

            @media (min-width: 1044px) {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 200px;
                gap:11px;
            }
        }
    }
}

