* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-bg-color: #F6F6F6;
  --sec-bg-color: white;
}

body {
  background-color: var(--main-bg-color);
  margin: 0px;
}

h1 {
  color: var(--Black, #101010);
  font-style: normal;
  line-height: normal;
}

h2 {
  color: #000;
  font-style: normal;
  line-height: normal;
}

h3 {
  margin: 0px;
  font-size: 18px;
  width: 100%;
}

img {
  object-fit: cover;
}

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition-property: opacity, box-shadow;
  transition-duration: 1s;
}

.bouton:hover {
  opacity: 80%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.bouton span {
  color: var(--White, #FFF);
  font-size: 16px;
  text-align: center;
  min-width: 315px;
  padding: 13px 18.75px;
}

.coeurgradient {
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: opacity 1s;
}

.coeurgradient:active {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #353535;
  color: white;
  padding: 22px 25px;
}

footer h3 {
  font-family: 'Shrikhand' , serif;
  margin: 0px;
}

footer i {
  height: 11px;
}

footer .Footer-texte-icone {
  display: flex;
  gap: 11px;
}
