#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 999;
  // border: 1px solid green;
  position: absolute;
  visibility: visible;
  opacity: 1;
  animation: Invisible 0.5s forwards 3s;

  @keyframes Invisible{
    to{ 
      opacity: 0;
      visibility: hidden;
    }
  }
}


#ring1 {
  width: 250px;
  height: 250px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-bottom: 8px solid rgb(253, 134, 220);
  position: absolute;

  animation: Galaxy 1.3s ease-in-out infinite;
}

#ring2 {
  width: 240px;
  height: 240px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-bottom: 8px solid rgb(147, 86, 220);
  position: absolute;

  animation: Galaxy2 1.5s ease-in-out infinite;
}

@keyframes Galaxy{
  from {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(110deg);
    border-bottom: 8px solid rgb(255, 121, 218);
  }

  to {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(470deg);
    border-bottom: 8px solid rgb(255, 121, 220);
  }

}

@keyframes Galaxy2{
  from {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(110deg);
    border-bottom: 8px solid rgb(147, 86, 220);
  }

  to {
    transform: rotateX(50deg) rotateY(180deg) rotateZ(560deg);
    border-bottom: 8px solid rgb(147, 86, 222);

  }
}

