// .loader {

// }

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 999;
  // border: 1px solid green;
  position: absolute;
  visibility: visible;
  opacity: 1;
  animation: Invisible 0.5s forwards 3s;

  @keyframes Invisible{
    to{ 
      opacity: 0;
      visibility: hidden;
    }
  }
}


#ring1 {
  width: 250px;
  height: 250px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-bottom: 8px solid rgb(253, 134, 220);
  position: absolute;

  animation: Galaxy 1.3s ease-in-out infinite;
}

#ring2 {
  width: 240px;
  height: 240px;
  border: 1px solid transparent;
  border-radius: 50%;
  border-bottom: 8px solid rgb(147, 86, 220);
  position: absolute;

  animation: Galaxy2 1.5s ease-in-out infinite;
}

@keyframes Galaxy{
  from {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(110deg);
    border-bottom: 8px solid rgb(255, 121, 218);
  }

  to {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(470deg);
    border-bottom: 8px solid rgb(255, 121, 220);
  }

}

@keyframes Galaxy2{
  from {
    transform: rotateX(45deg) rotateY(180deg) rotateZ(110deg);
    border-bottom: 8px solid rgb(147, 86, 220);
  }

  to {
    transform: rotateX(50deg) rotateY(180deg) rotateZ(560deg);
    border-bottom: 8px solid rgb(147, 86, 222);

  }
}

.TextLoad{
  font-family: Shrikhand;
  font-size: 20px;
  animation: appear 3s ease-in infinite;
}

@keyframes appear {
    from {
      opacity: 0.05;
      scale: 1;
    }

    to{
        opacity: 0.5;
        scale: 1.5;
        // letter-spacing: 1px;
      }
} 



// @keyframes smokeOut {
//     100% {
//       opacity: 0.08;
//       filter: blur(5px);
//       letter-spacing: 4px;
//     }
//   }

// .loader{
//   font-size: 48px;
//   font-weight: bold;
//   letter-spacing: 2px;
//   font-family: Arial, Helvetica, sans-serif;
//   color: #fff;
//   animation: smokeOut 1s ease-in-out infinite alternate;
//   text-shadow: 0 0 1px white;
// }
// .loader:before {
//   content: "Loading";
// }

// @keyframes smokeOut {
//   100% {
//     opacity: 0.08;
//     filter: blur(5px);
//     letter-spacing: 4px;
//   }
// }