@Import url(style.scss);
/****** General ***********/
* {
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-bg-color: #F6F6F6;
  --sec-bg-color: white;
}

img {
  justify-content: cover;
}

h1 {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--sec-bg-color);
  gap: 42px;
}

header img {
  height: 44px;
  padding: 14px 0px;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 30px;
  width: 30px;
}

header i {
  font-size: 30px;
}

.Couverture {
  height: 275px;
  object-fit: cover;
}

.MenuTitreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.MenuTitreContainer i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
  font-size: 22px;
}

.ContainerMenu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.MenuSection-Titre {
  text-transform: uppercase;
  font-size: 27px;
}

hr {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-left: 0;
}

section {
  gap: 12px;
  box-sizing: border-box;
  padding: 0px 10px;
}

span {
  font-weight: 700;
}

.Price {
  display: flex;
  padding-right: 25px;
}

.ligneMenu {
  display: flex;
  border: 1px dashed #a80582;
}

article {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  align-self: stretch;
  /* Shadow/Card */
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 18px;
  position: relative;
}

article img {
  object-fit: cover;
  height: 231px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

article i {
  font-size: 22px;
  position: absolute;
  right: 25px;
  bottom: 33px;
}

article.card {
  justify-content: flex-end;
  margin-bottom: 12px;
  border: 1px dashed #8aa805;
  text-overflow: hidden;
}

article .card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 13px;
  gap: 5px;
}

article.card-title {
  margin-top: 16px;
  margin-bottom: 5px;
  max-width: 267px;
}

article.card-subtitle {
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 16px;
  width: 100%;
}

.card:hover + .MenuCheck {
  background-color: #99E2D0;
  animation-name: slide 1s;
}

@keyframes slide {
  from {
    transition: margin-right(-60px);
  }
  to {
    transition: margin-right(0px);
  }
}

.MenuCheck {
  background-color: #99E2D0;
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 77px;
  width: 59px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: -60px;
}

.MenuCheck i {
  font-size: 14px;
}

.MenuCheck .rond {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
}

.ValiderCommande {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #a80510;
}
