
@import '_Commun.scss';
// @import '_BoutonViolet.scss';
// @import '_Footer.scss';

h1{
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 400;
}

h2{
    font-family: Roboto;
    font-size: 16px; 
    font-weight: 300;
    text-transform: uppercase;
    margin:0px;
}

// *************************  Header ************************************
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--sec-bg-color);
    gap: 42px;
    
    & img{
        height: 44px;
        padding: 14px 0px;
    }

    & a{
        display: flex;
        justify-content:center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        height: 30px;
        width: 30px;
        // border: 1px dashed #3905a8;
    }

    & i{
        font-size: 30px;
    }
}

body{
    position: relative;
    background-color: white;
}
 

// *************************  Image de couverture ************************************
main{
    position: relative;
    // height: 100%;
}
.Couverture{
    height: 275px;
    width: 100%;
    position: relative;
}

//container pour les cards Menu
.Containerprincipal{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    // height: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: var(--main-bg-color);
    position:fixed;
    top:283px;
    // border: 1px dashed #8aa805;
}

// *************************  Titre  ************************************
.MenuTitreContainer{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:24px;
    position: relative;
    padding: 0px 10px;
    margin-top: 32px;
    
    .card-like{
        display: flex;
        position: absolute;
        box-sizing: border-box;
        top:10px;
        // bottom:25px;
        right: 24px;
    }

    & i { 
        position: absolute;
        right: 10px;
        font-size: 22px;
    }

    & h1{
        margin: 0px;
    }
}


// *************************  MEnu  ************************************
// section Entrées
hr{
    width: 40px;
    height: 3px;
    background: #99E2D0;
    margin-left:0;
    margin-top: 6px;
    margin-bottom: 12px;
}

 section{
    display: flex;
    flex-direction: column;
    gap:12px;
    box-sizing: border-box;
    padding: 0px 10px;
    // border: 1px dashed #8aa805;
    opacity: 0;
    animation: fadeIn 1s forwards;
}  
    //animation apparition des sections entrées, plats, desserts.
    #sectionentrees{
        animation-delay: 300ms;
    }

    #sectionplats{
        animation-delay: 550ms;
    }

    #sectiondesserts{
        animation-delay: 800ms;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
 
 
.ligneMenu{
    display: flex;
    width: 100%;
    // border: 1px dashed #a80582;

    & article{
        display: flex;
        flex-direction: column;
        align-self: stretch;
        background-color: white;
        border-radius: 15px;
        width: 100%;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    
        & i{
            font-size: 22px;
            position: absolute;
            right: 25px;
            bottom: 33px;
        }
    
        & .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            align-content: center;
            box-sizing: border-box;
            padding: 15px;
            gap: 5px;
            height: 69px;
            width: 100%;
        }
    
        & h3{
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        & p{
            font-size: 15px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        & .Price{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap:5px;
            width: 100%;
            z-index: 1;
            // border: 1px dashed #a84105;
         }
         
        & span{
            width: 50px;
            margin-bottom: 0px;
            color: #353535;
            text-align: center;
            font-family: Roboto;
            font-size: 15.043px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            // border: 1px dashed #a805a0;
        }
    }
}

article:active + .MenuCheck{
    margin-right: 0px;
    width: 59px;
    display: flex; 
}

 .MenuCheck{
    background-color: #99E2D0;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 69px;
    width: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: -60px;  
    transition: 1s;
    z-index: 2;

    & i{
        font-size: 14px;
        color: #99E2D0;
    }

    & .rond{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: white;
    }
 }

// Bouton Commander
.ValiderCommande{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

@media (min-width: 1044px) {
    main{
        display: flex;
        justify-content: center;
    }

    .Containerprincipal{
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1055px;
    }

    section{
        width: 100%;
        max-width: 634px;
    }


    .MenuTitreContainer{
        margin-top: 32px;
        border: 1px dashed #a80510;
    
        .card-like{
            display: flex;
            position: absolute;
            box-sizing: border-box;
            top:10px;
            
            // bottom:25px;
            left: 330px;
        }


    }

}
