
@import '_Commun.scss';

h1{
    font-family: Shrikhand;
    font-size: 28px;
    font-weight: 400;
}

h2{
    font-size: 16px; 
    font-weight: 300;
    text-transform: uppercase;
}

// *************************  Header ************************************
header{
    
    & a{
        display: flex;
        justify-content:center;
        align-items: center;
        align-content: center;
        text-decoration: none;
        height: 30px;
        width: 30px;
        position: absolute;
        left: 17px;
    }

}

body{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    
}
 

// *************************  Image de couverture ************************************
main{
    position: relative;
    background-color: #F6F6F6;
    height: 100%;
    @media (min-width: 1024px) {
            justify-content: center;
            background-color: white;
    }
}
.Couverture{
    height: 275px;
    width: 100%;
    position: relative;
}

//container pour les cards Menu
.Containerprincipal{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: var(--main-bg-color);
    position:relative;
    margin: -40px auto 0;
    padding-bottom: 40px;

    @media (min-width: 1024px) {
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 100%;
            max-width: 1055px;
            top: 0;
    }

    @media (min-width: 768px) {
            width: 100%;
            padding-left: 50px;
            padding-right: 50px;
    }
}
   


// *************************  Titre  ************************************
.MenuTitreContainer{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    gap:24px;
    position: relative;
    padding: 0px 10px;
    margin-top: 32px;

    @media (min-width: 1024px) {
        margin-top: 32px;
    }
    
    .card-like{
        display: flex;
        position: absolute;
        box-sizing: border-box;
        top:10px;
        right: 24px;

        @media (min-width: 1024px) {
            display: flex;
            position: absolute;
            box-sizing: border-box;
            top:10px;
            left: 330px;
        }
    }

    & i { 
        position: absolute;
        right: 10px;
        font-size: 22px;
    }

    & h1{
        margin: 0px;
    }
}


// *************************  MEnu  ************************************
// section Entrées
hr{
    width: 40px;
    height: 3px;
    background: #99E2D0;
    margin-left:0;
    margin-top: 6px;
    margin-bottom: 12px;
}

 section{
    display: flex;
    flex-direction: column;
    gap:12px;
    box-sizing: border-box;
    padding: 0px 10px;
    opacity: 0;
    animation: fadeIn 1s forwards;

    @media (min-width: 1024px){
        width: 100%;
        max-width: 634px;
    }
}  
    //animation apparition des sections entrées, plats, desserts.
    #sectionentrees{
        animation-delay: 300ms;
    }

    #sectionplats{
        animation-delay: 550ms;
    }

    #sectiondesserts{
        animation-delay: 800ms;
    }

    #ValiderCommande{
        width: fit-content;
        animation-delay: 1s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
 


    article{
        display: flex;
        flex-direction: row;
        align-self: stretch;
        background-color: white;
        border-radius: 15px;
        width: 100%;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    
        & i{
            font-size: 22px;
        }
    
        & .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            align-content: center;
            box-sizing: border-box;
            padding: 13px;
            gap: 5px;
            height:69px;
            width: 100%;
            z-index:1;
        }
    
        & h3{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        & p{
            font-size: 15px;
            margin-top: 0px;
            margin-bottom: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: 2s;
        }
    
        & .Price{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap:5px;
            width: 100%;
         }
         
        & span{
            width: 50px;
            margin-bottom: 0px;
            color: #353535;
            text-align: center;
            font-size: 15.043px;
            font-weight: 700;
        }
    


        .MenuCheck{
            background-color: #99E2D0;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 69px;
            width: 0px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            margin-right: 0px;  
            transition: width 1s;
            opacity: 0;
        

            & i{
                font-size: 14px;
                color: #99E2D0;
            }

            & .rond{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background-color: white;
            }
        }
    }

//animation menu
article:active .MenuCheck{
    width: 59px;
    opacity: 1;
}

//permet de faire passer la case à cocher par dessus le texte et de le mettre en pointillets
article:active .card-content{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// Bouton Commander
.ValiderCommande{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 00px;
}
