/****** General ***********/
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F6F6F6;
    --sec-bg-color: white;
} 

img{
    justify-content: cover;
}

body{
    // background-color:var(--main-bg-color);
    // margin:0px;
}

h1{
    color: var(--Black, #101010);
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// *************************  Header ************************************
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--sec-bg-color);
    gap: 42px;
}

header img{
    height: 44px;
    padding: 14px 0px;
}

header a{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    height: 30px;
    width: 30px;
    // border: 1px dashed #3905a8;
}

header i{
    font-size: 30px;
}

// *************************  Image de couverture ************************************
.Couverture{
    height: 275px;
    object-fit: cover;
}

// *************************  Titre  ************************************
.MenuTitreContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}

.MenuTitreContainer i { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    font-size: 22px;
}

// *************************  MEnu  ************************************
//container pour les cards Menu
.ContainerMenu{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


// section Entrées
.MenuSection-Titre{
    text-transform: uppercase;
    font-size: 27px;
}

hr{
    width: 40px;
    height: 3px;
    background: #99E2D0;
    margin-left:0;
}
 section{
    gap:12px;
    box-sizing: border-box;
    padding: 0px 10px;
    // border: 1px dashed #8aa805;
 }
 span{
    font-weight: 700; 
 }

 .Price{
    padding-right: 25px;
 }


.ligneMenu{
    display: flex;
    border: 1px dashed #a80582;
}

 .card{
    justify-content: flex-end;
    margin-bottom: 12px;
    border: 1px dashed #8aa805;
    text-overflow: hidden;
 }

 .card-content {
    gap: 5px;
    border: 1px dashed #0536a8;
}

 .MenuCheck{
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 77px;
    width: 59px;
    border: 1px dashed #a80510;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    // overflow: hidden;
 }

 .rond{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
 }

 .MenuCheck i{
    font-size: 14px;
 }

// *************************  Bouton Commander  ************************************
.ValiderCommande{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #a80510;
}



//  .card{
//     display: flex;
//     flex-direction: column;
//     background-color: white;
//     border-radius: 15px;
//     align-self: stretch;
//     /* Shadow/Card */
//     box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
//     margin-bottom: 18px;
//     // ;
// }


 

// /* footer */
// footer{
//     display: flex;
//     flex-direction: column;
//     gap:16px;
//     background-color: #353535;
//     color: white;
//     padding: 22px 25px;
// }

// footer h3{
//     font-family: 'Shrikhand' , serif;
//     margin: 0px;

// }
// .Footer-texte-icone{
//     display: flex;
//     gap:11px;
// }

// Footer i{
//     height: 11px;
// }
