@import 'Loader.scss';
@import '_Commun.scss';


/*général*/


h2{
    margin-bottom: 26px;
}

a{
    width: 100%;
    text-decoration: none;
    color: #000;
}

main{
    display: flex;
    flex-direction: column;
}

header{
    flex-direction: column;
    height: 63px;
}
 
/* Barre selection ville*/
.Location{
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    width: 100%;
    gap: 17px;
    background:#EAEAEA;
    box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.15);

    & input{
         border: none;
         background-color: #EAEAEA;
         color: var(--Grey, #353535);
         font-size: 16px;
         font-weight: 500;
         text-align: center;
         width: 120px;
    }

    & i{
        color: #353535;
    }
}

/* Section Présentation*/
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    gap:27px;
    padding-top: 40px;
    padding-bottom: 57px;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    & h1{
        margin-bottom: 12px;
    }

    & p{
        margin: 0px;
        font-size: 18px;
    }

    & .presentation-texte{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 34px;

        @media (min-width: 1024px){
            gap: 18px;
        }
    }
}

/* Section Fonctionnement */
.Fonctionnement{
    background-color:var(--sec-bg-color);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 48px 20px 68px 20px;
    
    @media (min-width: 1024px) {
        padding: 50px 180px;
    }

    & i{
        color:#7E7E7E;
        font-size: 19px;
        width: 20px;
        text-align: center;
    }


    & .bouton-containter{
        display: grid;
        grid-template-columns: 1fr;
        gap: 23px;
        padding-left: 12px;  

        @media (min-width: 1024px){
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 36.5px;
        }
    }

    & .BoutonFonctionnement{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        height: 72.379px;
        border-radius: 20px;
        background: var(--Background, #F6F6F6);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative; // pour pouvoir fixer le chiffre centré sur le bord du bouton et aligné avec la lettre F de Fonctionnement
    
        &:hover  i{
            color:#9356DC;
        }
    }

    & .ContenuBouton{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        width:250px;
    }

    & .Chiffre{
        width: 24px;
        height: 24px;
        background-color: #9356DC;
        border-radius: 50%;
        font-size: 14.182px;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        position:absolute; // pour fixer la position. 
        left:-11px;

        @media (min-width: 1024px){
            width: 24px;
            height: 24px;
            background-color: #9356DC;
            border-radius: 50%;
            font-size: 14.182px;
            color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            position:absolute; // pour fixer la position. 
            left: -15px;
        }
    }

}

/* Section Restaurant */
.Restaurants{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 54px;
    margin-bottom: 54px;
    padding: 0px 18px;

    @media (min-width: 1024px) {
        padding: 0px 180px;
    }

    & article{
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        align-self: stretch;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        margin-bottom: 18px;
        position: relative;
    
        & img{
            object-fit: cover;
            height: 231px;
            width: 100%;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        & .Etiquette{
            //positionnement
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            z-index: 1;
            position: absolute;
            right: 3px;
            top:3px;
            margin-top:15px;
            margin-right:15px;
            //style
            width: 80px;
            height: 29px;
            border-radius: 2px;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
            color: var(--Green-Font, #008766);
            background: var(--Green, #99E2D0);
            flex-shrink: 0;
            font-size: 14px;
            font-weight: 500;
        }
    
        & i{
            font-size: 22px;
            position: absolute;
            right: 25px;
            bottom: 33px;
        }
    
        & .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            padding-left: 13px;
            gap: 13px;   
        }
    
        & .card-like{
            text-align: center;
            z-index:1;
            // position: relative;
        }
    
        & h3{
            margin-top: 16px;
            margin-bottom: 5px;
            max-width: 267px;
        }
        & p{
            font-size: 17px;
            margin-top: 0px;
            margin-bottom: 12px;
            width: 100%;
        }
        
    }

    @media (min-width: 1024px)
    {
        .Card-Container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        row-gap: 50px;
        }
    }
}

//annimation pour faire apparaitre la page apres le loader
.main-container{
    opacity: 0;
    visibility: hidden;
    animation: Visible 0.5s forwards 3s;    

    @keyframes Visible {
        from{
            opacity: 0;
            visibility: hidden;
        }
        to {
            opacity: 1;
            visibility: visible;
        }
    }
}
